* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(88, 86, 86);
}


.page1 {
  width: 100%;
  height: 100vh;
  background-color: #0aa1e2;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  width: 80%;
  height: 100%;
 
}

.header {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-top: 10px;
}

.section1 {
  display: flex;
  margin-top: 100px;
}

.left {
  margin-top: 100px;
  width: 45%;
}

#first-heading {
  font-size: 50px;
  color: white;
  font-weight: lighter;
}

.image {
  position: absolute;
  right: 300px;
  bottom: -5px;
}

.mail-button{
  margin-top: 15px;
  display: flex;
}
.email {
  margin-right: 10px;
  padding: 12px 20px 12px 20px;
  border-radius: 4px;
  border: 2px solid gray;
  border: none;
}


.invite-button {
  background-color: rgb(232, 169, 42);
  color: white;
  cursor: pointer;
  font-size: larger;
   padding: 10px 20px 10px 20px;
   border-radius: 4px;
   border: none;
}


/* page 2 */
.page2 {
  width: 100%;
  background-color: rgb(244, 242, 242);
  display: flex;
  justify-content: center;
}
.container2 {
  width: 80%;
  height: 100%;
 
}
.look{
  width: 35vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  text-align: center;
  font-size: x-large;
}

.look h1{
  font-weight: 300;
  margin-bottom: 10px;
}
.look p{
  font-weight: bold;
  color: gray;
  margin-bottom: 10px;
}

.boxes {
  margin-top: 50px;
  display: flex;
  gap: 20px;
  text-align: center;
}

.box1 h2{
  margin-top: 20px;
}
.boxl h2{
  margin-top: 5px;
}
.box p{
  color: gray;
  margin-top: 10px;
}

.con{
  width: 100%;
  margin-top: 80px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  margin-bottom: 20px;

}

.mail-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.page3{
    width: 100%;
  background-color: rgb(244, 242, 242);
  display: flex;
  justify-content: center;
}

.h-p-i{
margin-top: 100px;
 text-align: center;
}
.cont{
  margin: auto;
  width: 50%;
}
.cont p{
  color: gray;
  font-weight:500;
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 20px;
}
.flatty{
  font-size: 40px;
  font-weight: 500;
  color: rgb(88, 86, 86);
}
.many{
  margin-top: 30px;
  display: flex;
  justify-content: center;
gap: 20px;
align-items: center;
height: 50px;
}
.one{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
}
.con3{
  border-top: 2px solid gray;
  margin-top: 100px;
  margin-bottom: 20px;
}
.contact-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
}
.contact-form{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-form input{
  width: 100%;
  padding: 10px 5px 10px 5px;
  border-radius: 3px;
  border: 2px solid gray;
}
.contact-form textarea{
    width: 100%;
  padding: 10px 5px 10px 5px;
  border-radius: 3px;
  border: 2px solid gray;
  height: 100px;
}
.send{
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: large;
  margin-bottom: 20px;
}

@media (max-width: 1500px){

  .page1{
    height: 80vh;
  }
  .image{
    right: 0;
  }
}

@media (max-width: 1200px) {

  .page1{
    height: 80vh;
  }
  .image{
    right: 0;
  }
  .left{
    width: 60%;
  }
  
}
@media (max-width: 900px) {
  #first-heading {
    font-size: 35px;
  }
  .left {
    width: 100%;
  }
  .boxes{
    flex-direction: column;
    gap: 40px;
  }
  

}
@media (max-width: 800px) {
  .page1{
    height: 40vh;
  }
  .image{
    display: none;
  }
  
}

@media (max-width: 600px) {
  .look {
    width: 90%;
  }
  #first-heading {
    font-size: 28px;
  }
  .cont{
    width: 80%;
  }
  .contact-form{
    width: 100%;
  }
  .page1{
    height: 50vh;
  }
}
@media (max-width: 500px) {
  .con .cont .con3{
    height: 200px;
  }
.mail-container{
  flex-direction: column;
  gap: 20px;
  height: 150px;
}
.email{
  margin-left: 10px;
  width: 88%;
}
.invite-button{
  width: 100%;
}
.cont{
  width: 100%;
}
.cont p{
  font-size: 20px;
}
.look{
  width: 100%;
}
.look h1{
  width: 100%;
  font-size: 30px;
}
.look p{
  font-size:medium;
}
}

.sham{
  text-align: center;
  font-size: xx-small;
  background:gray;
  
}
.sham p{
  color: white;
}
